<a href="https://colab.research.google.com/github/Akirahori/Python/blob/main/Curso_Intesivo_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CAP.02 - VARIÁVEIS E TIPOS DE DADOS SIMPLES**

**Variáveis**: 


Toda variável armazena um valor, que é a informação associada a essa variável.

Espaços não são permitidos em nomes de variáveis, mas underscores
podem ser usados para separar palavras em nomes de variáveis. Por
exemplo, greeting_message funciona, mas greeting message causará
erros.

**Nomeando e usando variáveis:**

• Evite usar palavras reservadas e nomes de funções em Python como
nomes de variáveis, ou seja, não use palavras que Python reservou para
um propósito particular de programação, por exemplo, a palavra print.
(Veja a seção “Palavras reservadas e funções embutidas de Python”.)


• Nomes de variáveis devem ser concisos, porém descritivos. Por
exemplo, name é melhor que n, student_name é melhor que s_n e
name_length é melhor que length_of_persons_name.


• Tome cuidado ao usar a letra minúscula l e a letra maiúscula O, pois
elas podem ser confundidas com os números 1 e 0.

In [ ]:
message = 'hello python'
print(message)

message = 'hello python teste da porra do livro'
print(message)

**STRINGS:**

Uma sring é simplesmente uma série de caracteres. Tudo que estiver entre aspas é considerada uma string em python.

Essa flexibilidade permite usar aspas e apóstrofos em suas strings:
'I told my friend, "Python is my favorite language!"'
"The language 'Python' is named after Monty Python, not the snake."


O método title() aparece depois da variável
na instrução print(). Um método é uma ação que Python pode executar em
um dado. O ponto (.) após name em name.title() informa a Python que o
método title() deve atuar na variável name.

In [ ]:
#Mudando para letras maiúsculas e minúsculas em uma string usando métodos

name = 'ada lovelace'
print(name.title())

name = 'ada lovelace'
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

In [ ]:
#Combinando ou concatenando strings
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name

print(full_name)

ada lovelace

In [ ]:
#Acrescentando espaços em branco em strings com tabulações ou quebras de linha

print('languages:\nPython\nC\nJava')

languages:
Python
C
Java

In [ ]:
#Removendo espaços em branco.
favorite_language = 'python '
favorite_language

favorite_language.rstrip()

'python'

In [ ]:
#Evitando erros de sintaxe com strings

message = "One of Python's strengths is its diverse community."
print(message)

message = 'One of Python's strengths is its diverse community.'
print(message)

In [ ]:
#Evitando erros de tipo com a função str()

age = 23
message = "Happy" + str(age) + 'rd Birthday'

print(message)

Happy23rd Birthday

# **CAP.03 - Introdução as Listas.**

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
#Acessando elementos de uma lista
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

trek
Trek

In [ ]:
#Usando valores individauis de uma lista
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [ ]:
#Alterando, acrescentando e removendo elementos
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

#Acrescentando
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
print(motorcycles)

#Inserindo elementos em uma lista
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

#Removendo elementos de uma lista
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles [0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']
['ducati', 'honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
#Removendo elementos de uma lista
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles [0]
print(motorcycles)

['yamaha', 'suzuki']

In [ ]:
#Removendo itens de qualquer posição em uma lista
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() +'.')

The first motorcycle I owned was a Honda.

In [ ]:
#Removendo um item de acordo com o valor
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati','ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

#NOTA O método remove() apaga apenas a primeira ocorrência do valor que você especificar.

['honda', 'yamaha', 'suzuki', 'ducati', 'ducati']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
#Organizando uma lista
cars = ['mitsubishi','nissan','toyota','honda','subaru']
cars.sort()
print(cars)

#Também podemos ordernas essa lista inversamente.
cars = ['mitsubishi','nissan','toyota','honda','subaru']
cars.sort(reverse=True)
print(cars)

['honda', 'mitsubishi', 'nissan', 'subaru', 'toyota']
['toyota', 'subaru', 'nissan', 'mitsubishi', 'honda']

A função sorted() permite exibir sua lista em uma ordem em particular, mas não afeta a ordem
propriamente dita da lista

In [ ]:
#Ordenando uma lista temporariamente com a função sorted()
cars = ['mitsubishi','nissan','toyota','honda','subaru']
print("\nHere is the sorted list:")
print(sorted(cars))

Here is the sorted list:
['honda', 'mitsubishi', 'nissan', 'subaru', 'toyota']

reverse() não reorganiza em ordem alfabética inversa; ele
simplesmente inverte a ordem da lista:

In [ ]:
#Exibindo uma lista em ordem inversa
cars = ['mitsubishi','nissan','toyota','honda','subaru']
cars.reverse
print(cars)

['mitsubishi', 'nissan', 'toyota', 'honda', 'subaru']

In [ ]:
#Descobrindo o tamanho de uma lista
cars = ['mitsubishi','nissan','toyota','honda','subaru']
len(cars)

5

In [ ]:
#Evitando erros de índice quando trabalhar com listas. Lembrar que a indexação do python começa com 0.
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[2])
#sempre que quiser acessar o último item de uma lista, você deve usar o índice -1
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki
suzuki

# **CAP.04 - Trabalhando com Listas.**

Ler esse código como “para todo mágico na lista de mágicos, exiba o nome do mágico” pode ajudar.

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:#Essa linha diz a Python para extrair um nome da lista magicians e armazená-lo na variável magician.
      print(magician)

alice
david
carolina

***for magician in magicians:***

Essa linha diz a Python para extrair o primeiro valor da lista magicians e armazená-lo na variável magician. O primeiro valor é 'alice'. O
interpretador então lê a próxima linha:

In [ ]:
#Executando mais tarefas em um laço for
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title()+ ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() +
".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [ ]:
#Fazendo algo aós um laço for
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title()+ ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() +
".\n")
print("Thank you")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you

In [ ]:
#Esquecendo-se de indentar
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician )

IndentationError: ignored

In [ ]:
pizza = ['mussarela', 'aliche', 'alema']
for pizzas in pizza:
  print(pizzas)

mussarela
aliche
alema

In [ ]:
#Função Range
for value in range(1,5):
  print(value)

1
2
3
4
[1, 2, 3, 4, 5]

In [ ]:
#Usando range para criar uma lista de números
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
squares = []
for value in range(1,11):
  square = value ** 2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Fatiando uma lista
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [ ]:
#Fatiando uma lista
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[1:4])

['martina', 'michael', 'florence']

In [ ]:
#Fatiando uma lista
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [ ]:
#percorrendo uma fatia com um laço
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players:
  print(player)

Here are the first three players on my team:
charles
martina
michael
florence
eli

In [ ]:
#TUPLAS

dimensions = (200,50)
print(dimensions[0])

200

Uma tupla se parece extamente com uma lista, exceto por usar parenteses no lugar de colchetes.

In [ ]:
#Tentando alterar uns dos inteis da tupla
dimensions[0] = 250

TypeError: ignored

In [ ]:
#Percorrendo todos os valores de uma tupla com um laço

dimensions = (200,50)
for dimension in dimensions:
  print(dimension)

200
50

# **CAP.05 - INSTRUÇÕES IF**

O laço nesse exemplo inicialmente verifica se o valor atual de car é
'bmw' u. Em caso afirmativo, o valor é exibido com letras maiúsculas. Se o
valor de car for diferente de 'bmw', será exibido com a primeira letra
maiúscula:

In [ ]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
  if car == 'bmw':
      print(car.upper())
  else:
      print(car.title())

Audi
BMW
Subaru
Toyota

In [ ]:
#Verificando a igualdade:
car = 'bmw'
car == 'bmw'

True

In [ ]:
#Diferença entre letras maiusculas e minusculas
car = 'Audi'
car.lower() == 'audi'

True

In [ ]:
#Verificando a diferença
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
  print("Hold the anchovies!")

Hold the anchovies!

In [1]:
#Usando and para testar várias condições
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >=21

False

In [2]:
age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >=21

True

In [ ]:
#Verificando se um valor está em uma lista
requested_toppings = ['mushrooms', 'onions', 'pineapple']
'mushrooms' in requested_toppings

False

In [ ]:
#Verificando se um valor não está em uma lista
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'
if user not in banned_users:
  print(user.title() +", You can post a response")

Marie, You can post a response

In [3]:
#Instruções IF
age = 19
if age >=18:
  print('Você pode votar')

Você pode votar

In [4]:
#Instruções If-else
age = 19
if age >=18:
  print('Você pode votar')
else:
  print( 'Você ainda não pode votar')

Você ainda não pode votar

Muitas situações do mundo real envolvem mais de duas condições possíveis. Por exemplo, considere um parque de diversões que cobre preços distintos para grupos etários diferentes:

• a entrada para qualquer pessoa com menos de 4 anos é gratuita;

• a entrada para qualquer pessoa com idade entre 4 e 18 anos custa 5dólares;

• a entrada para qualquer pessoa com 18 anos ou mais custa 10 dólares.

In [6]:
#Sintaxe if-elif-else
age = 65
if age < 4:
  print('Você não pagara nada')
elif age < 18:
  print('Sua entrada custa 5 bonoros')
else:
  print('Sua entrada custa 10 bonoros')

Sua entrada custa 10 bonoros

In [9]:
age = 12

if age < 4:
    price = 0
elif age < 18:
    price = 5
else:
    price = 10

print("Your admission cost is $"  + str(price) + ".")

Your admission cost is $5.

In [10]:
requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
  print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
  print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
  print("Adding extra cheese.")


print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [14]:
alien_color = ('green', 'yellow', 'red')

if 'green' in alien_color:
  print('Você ganhou 5 pontos')

Você ganhou 5 pontos

In [18]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']
for requested_topping in requested_toppings:
  if requested_topping == 'green peppers':
   print("Sorry, we are out of green peppers right now.")
else:
  print("Adding " + requested_topping + ".")
print("\nFinished making your pizza!")

Sorry, we are out of green peppers right now.
Adding extra cheese.

Finished making your pizza!