<a href="https://colab.research.google.com/github/Akirahori/Python/blob/main/Curso_Intesivo_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CAP.02 - VARIÁVEIS E TIPOS DE DADOS SIMPLES**

**Variáveis**: 


Toda variável armazena um valor, que é a informação associada a essa variável.

Espaços não são permitidos em nomes de variáveis, mas underscores
podem ser usados para separar palavras em nomes de variáveis. Por
exemplo, greeting_message funciona, mas greeting message causará
erros.

**Nomeando e usando variáveis:**

• Evite usar palavras reservadas e nomes de funções em Python como
nomes de variáveis, ou seja, não use palavras que Python reservou para
um propósito particular de programação, por exemplo, a palavra print.
(Veja a seção “Palavras reservadas e funções embutidas de Python”.)


• Nomes de variáveis devem ser concisos, porém descritivos. Por
exemplo, name é melhor que n, student_name é melhor que s_n e
name_length é melhor que length_of_persons_name.


• Tome cuidado ao usar a letra minúscula l e a letra maiúscula O, pois
elas podem ser confundidas com os números 1 e 0.

In [ ]:
message = 'hello python'
print(message)

message = 'hello python teste da porra do livro'
print(message)

**STRINGS:**

Uma sring é simplesmente uma série de caracteres. Tudo que estiver entre aspas é considerada uma string em python.

Essa flexibilidade permite usar aspas e apóstrofos em suas strings:
'I told my friend, "Python is my favorite language!"'
"The language 'Python' is named after Monty Python, not the snake."


O método title() aparece depois da variável
na instrução print(). Um método é uma ação que Python pode executar em
um dado. O ponto (.) após name em name.title() informa a Python que o
método title() deve atuar na variável name.

In [ ]:
#Mudando para letras maiúsculas e minúsculas em uma string usando métodos

name = 'ada lovelace'
print(name.title())

name = 'ada lovelace'
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

In [ ]:
#Combinando ou concatenando strings
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name

print(full_name)

ada lovelace

In [ ]:
#Acrescentando espaços em branco em strings com tabulações ou quebras de linha

print('languages:\nPython\nC\nJava')

languages:
Python
C
Java

In [ ]:
#Removendo espaços em branco.
favorite_language = 'python '
favorite_language

favorite_language.rstrip()

'python'

In [ ]:
#Evitando erros de sintaxe com strings

message = "One of Python's strengths is its diverse community."
print(message)

message = 'One of Python's strengths is its diverse community.'
print(message)

In [ ]:
#Evitando erros de tipo com a função str()

age = 23
message = "Happy" + str(age) + 'rd Birthday'

print(message)

Happy23rd Birthday

# **CAP.03 - Introdução as Listas.**

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
#Acessando elementos de uma lista
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

trek
Trek

In [ ]:
#Usando valores individauis de uma lista
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [ ]:
#Alterando, acrescentando e removendo elementos
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

#Acrescentando
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
print(motorcycles)

#Inserindo elementos em uma lista
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

#Removendo elementos de uma lista
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles [0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']
['ducati', 'honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
#Removendo elementos de uma lista
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles [0]
print(motorcycles)

['yamaha', 'suzuki']

In [ ]:
#Removendo itens de qualquer posição em uma lista
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() +'.')

The first motorcycle I owned was a Honda.

In [ ]:
#Removendo um item de acordo com o valor
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati','ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

#NOTA O método remove() apaga apenas a primeira ocorrência do valor que você especificar.

['honda', 'yamaha', 'suzuki', 'ducati', 'ducati']
['honda', 'yamaha', 'suzuki', 'ducati']

In [3]:
#Organizando uma lista
cars = ['mitsubishi','nissan','toyota','honda','subaru']
cars.sort()
print(cars)

#Também podemos ordernas essa lista inversamente.
cars = ['mitsubishi','nissan','toyota','honda','subaru']
cars.sort(reverse=True)
print(cars)

['honda', 'mitsubishi', 'nissan', 'subaru', 'toyota']
['toyota', 'subaru', 'nissan', 'mitsubishi', 'honda']